[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceSuccess
Exec=/home/yoctoadm/common-api/dbus-1.8.20/test/test-shell-service -test "that" 'we get' back --what "we put in"
User=anyrandomuser

